name: CI

on:
  pull_request:
  push:
    branches:
      - 'main'

jobs:
  lint-vet:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0
      - uses: actions/setup-go@v6.1.0
        with:
          go-version: '1.21'
      - run: go fmt ./...
      - run: go vet ./...

  test:
    runs-on: ubuntu-latest
    needs: lint-vet
    steps:
      - uses: actions/checkout@v6.0.0
      - uses: actions/setup-go@v6.1.0
        with:
          go-version: '1.21'
      - run: go test -v ./...
        env:
          VALOHAI_API_TOKEN : ${{ secrets.VALOHAI_API_TOKEN }}
          VALOHAI_OWNER: ${{ secrets.VALOHAI_OWNER }}
          TF_ACC: 1
  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v6.0.0
      - uses: actions/setup-go@v6.1.0
        with:
          go-version: '1.21'
      - run: go build -o terraform-provider-valohai_${{ github.ref_name }}
      - uses: actions/upload-artifact@v5
        with:
          name: provider-binary
          path: terraform-provider-valohai_${{ github.ref_name }}
